@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import "reset";
@import "variables";



body {
  line-height: 1;
  background: white;
  // overflow: hidden;
}

#bg {
  .code-bg {
    padding: 410px 0;
    background: url("/img/new-bg.jpg") center fixed no-repeat;
    background-size: auto;
    background-position: center;
  }


    .logo-area {
      float: left;
      padding: 20px 40px;
      color: black;
      font-size: 25px;
      position: absolute;
      left: 0;
      top: 0;
    }

    ul {
      float: right;
      display: flex;
      text-decoration: none;
      position: absolute;
      right: 0;
      top: 0;
      left: 20;
      padding: 20px 40px;

      li {
        padding: 0 139px;
        padding-bottom: 7px;

        a {
          text-decoration: none;
          color: black;
          font-size: 25px;
          &:hover{
            color:$colorblue;
            border-bottom: 1px solid;
            border-bottom-color:$colorblue;
          }
        }
      }
    }
  .info-area{
    position: absolute;
    top: 145px;
    left: 431px;
    .connect{
      font-size: 50px;
      font-family: 'Roboto';
      transform:rotate(-6deg);
    }
  }
}
