@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import "reset";
@import "variables";



body {
  line-height: 1;
  background: white;
  // overflow-x: hidden;
  background: url("/img/grey-bg.jpg") center fixed no-repeat;
  background-size: cover;
  background-position: center;
}

#bg {
  .code-bg {
    padding: 410px 0;
    // background: url("/img/grey-bg.jpg") center fixed no-repeat;
    // background-size: cover;
    // background-position: center;
  }


    .logo-area {
      float: left;
      padding: 20px 40px;
      color: black;
      font-size: 25px;
      position: absolute;
      left: 0;
      top: 0;
      .logo-name{
        color: #121216;
        text-decoration: none;
        font-size: 35px;
      }
    }

    ul {
      float: right;
      display: flex;
      text-decoration: none;
      position: absolute;
      right: 0;
      top: 0;
      left: 20;
      padding: 20px 0;

      li {
        padding: 0 55px;
        padding-bottom: 7px;

        a {
          text-decoration: none;
          color: $actionColor;
          font-size: 25px;
          &:hover{
            color:$colorblue;
            border-bottom: 1px solid;
            border-bottom-color:$colorblue;
          }
        }
        .menu-btn{
          text-decoration: none;
          color: white;
          font-size: 25px;
          background: lightseagreen;
          border-radius: 30px;
          padding: 9px 15px;
        }
      }
    }
  .info-area{
    position: absolute;
    top: 323px;
    left: 80px;
    .connect{
      font-size: 55px;
      font-family: 'Roboto';
      // transform:rotate(-6deg);
    }
    .new{
      font-size: 30px;
      padding-top: 20px;
      font-family: 'Roboto';
    }
    .call-actions{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-top: 38px;
      .action-btn, .action-ghost-btn{
        padding: 20px 20px;
        border-radius: 30px;
        width: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: white;
        font-weight: 500;
        font-size: .9rem;
      }
      .action-btn{
        background: white;
        color: $actionColor;
        margin-right: 20px;
      }
      .action-ghost-btn{
  background: transparent;
  border: 2px solid white;
  color: $actionColor;
}
    }
  }
  .girl{
    width: 27%;
    height: 68vh;
    position: absolute;
    top: 122px;
    right: 293px;
    z-index: 1;
    object-fit: cover;
    object-position: top;
    transition: filter .4s ease-in-out;
      &:hover{
        filter:blur(15px);
      }
  }
  .marketing{
    width: 27%;
    height: 68vh;
    position: absolute;
    top: 450px;
    right: 45px;
    z-index: 2;
    object-fit: cover;
    object-position: top;
    transition: filter .4s ease-in-out;
    &:hover{
      filter:blur(15px);
    }
  }
  .shape-1{
  opacity: .9;
  border: 2px dashed white;
  background-color: #CDCDBC;
  position: absolute;
  width: 100px;
  height: 120px;
  transform: translate3d(1230px, -220px, 0);
  border: 1px dashed white;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.shape-2{
  opacity: .9;
  border: 2px dashed white;
  background-color: #CDCDBC;
  position: absolute;
  width: 100px;
  height: 120px;
  transform: translate3d(700px, 305px, 0);
  border: 1px dashed white;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
}
